.scraperlist {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.scraperlist li {
    border: 1px solid #99F;
    margin: 4px;
    padding: 2px;
    background-color: #EEF;
    border-radius: 4px;
}

.scraperlist li i.drag-handle {
    cursor: move;
    color: #99F;
}

.scraperlist li sub:first-of-type {
    font-family: Arial;
    font-size: 8pt;
    color: #99F;
}

.scraperlist i.status {
    color: #EEE;
    float: right;
    margin-top: 4px;
}

.scraperlist i.status.unknown {
    color: #BBF;
    float: right;
    margin-top: 4px;
}

div.keyvalpair {
    padding: 2px;
    padding-left: 30px;
    border-bottom: 1px solid black;
    background-color: #EEE;
}

.keyvalpair .nom {
    font-size: 10pt;
    width: 90px;
    margin: 0;
    padding: 0;
}

.keyvalpair .val {
    font-size: 10pt;
    width: 180px;
}

.columnheaders {
    background-color: blue;
    width: 100%;
    font-size: 6pt;
    line-height: 100%;
}

.columnheaders > span {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 2px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.columnheaders > span:first-child {
    width: 90px;
    margin-left: 30px;
}

.columnheaders > span:nth-child(2) {
    width: 183px;
    margin-left: 10px;
}

.columnheaders > span:nth-child(3), .columnheaders > span:nth-child(4) {
    width: 15px;
    margin-left: 4px;
}

.columnheaders > span:nth-child(5) {
    width: 15px;
    margin-left: 4px;
}

.columnheaders {
    content: "";
    display: table;
    clear: both; /* "clearfix */
}

.scraperlistcontainer {
    border: 1px solid black;
    width: 420px;
}

.scraperlistcontainer {
    content: "";
    display: table;
    clear: both; /* "clearfix */
}

.scraperlist li i.status {
    color: #DDF;
    float: right;
    margin-top: 4px;
}

.scraperlistcontainer .iconbar {
    font-size: 16pt;
    margin-top: 1em;
}

.scraperlistcontainer .columnheaders {
    content: "";
    display: table;
    clear: both; /* "clearfix */
}

.scraperlistcontainer .iconbar > :nth-child(1) {
    float: left;
    padding: 4px;
    color: #900;
}

.scraperlistcontainer .iconbar > :nth-child(2) {
    float: right;
    padding: 4px;
    cursor: pointer;
}

.trash li {
    display: none;
}

.airtablename {
    padding: 4px;
    font-family: Arial, sans-serif;
}

.airtablename label {
    font-size: 9pt;
    font-weight: 700;
    width: 76px;
    padding: 1px 2px;
    margin-left: 26px;
    display: inline-block;
    text-align: right;
}

.airtablename label:after {
    content: ":";
}

.airtablename input {
    font-size: 10pt;
    font-weight: 700;
    width: 200px;
}

.airtablename i.status {
    color: #EEE;
    float: right;
    margin-top: 4px;
}

.airtablename i.status.good {
    color: #9F9;
}

.airtablename i.status.bad {
    color: #F99;
}

#groupbydivider .groupbyname {
    width: 400px;
    border: 1px solid black;
    font-family: Arial, sans-serif;
}

#groupbydivider .groupbyname label {
    font-size: 9pt;
    font-weight: 700;
    width: 76px;
    margin: 4px;
    padding: 1px 2px;
    margin-left: 26px;
    display: inline-block;
    text-align: right;
}

#groupbydivider .groupbyname label:after {
    content: ":";
}

#groupbydivider .groupbyname input {
    font-size: 10pt;
    font-weight: 400;
    width: 200px;
    margin: 4px;
}

#groupbydivider .groupbyname .status {
    color: #EEE;
    float: right;
    margin-top: 8px;
    margin-right: 4px;
}

#groupbydivider p {
    margin: 0;
    padding: 0;
}

#groupbydivider p:nth-of-type(1) {
    width: 199px;
    border-right: 3px solid black;
}

#groupbydivider p:nth-of-type(1) {
    height: 1em;
}

#groupbydivider p:nth-of-type(2) {
    height: 2em;
}

.fieldbox {
    display: flex;
}

.fieldbox .leftshow {
    margin-bottom: 16px;
}

.fieldbox .rightshow {
    background: hsl(60, 100%, 90%);
    width: -webkit-calc(100% - 35em);
    width: -moz-calc(100% - 35em);
    width: calc(100% - 35em);
    margin-bottom: 16px;
    margin-left: 2em;
}

.fieldbox .rightshow > table:first-of-type {
    font-size: 7pt;
}

.rightshow table {
    background: hsl(60, 100%, 90%);
    color: hsl(60, 100%, 20%);
    border-bottom: 1px solid hsl(60, 100%, 20%);
    border-left: 1px solid hsl(60, 100%, 20%);
}

.rightshow table th {
    background: hsl(60, 90%, 85%);
}

.rightshow table td, .rightshow table th {
    border-top: 1px solid hsl(60, 100%, 20%);
    border-right: 1px solid hsl(60, 100%, 20%);
}

.rightshow var {
    font-family: monospace;
    background: hsl(60, 0%, 90%);
    border: 1px solid hsl(60, 0%, 50%);
}

.buttonrow {
    margin-top: 1em;
}

.buttonrow .delete {
    background-color: #FCC;
    color: #600;
    border: 1px solid red;
    float: right;
}

.confirm {
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    border: 3px solid red;
    color: red;
    font-weight: 700;
    font-size: 12pt;
    background-color: #FFE8E8;
}