div.ui {
    max-width: 768px;
    margin: auto;
}

div.ui h1, h2, h3 {
    font-family: Arial, Helvetica, sans;
    text-align: center;
}

table {
    border-spacing: 0;
}

tr.help td {
    border-top: 1px solid black;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 9pt;
}

tr.help + tr td:nth-child(2) {
    border-right: 1px solid black;
}

.errormessage p.error {
    color: #F00;
}

.errormessage pre {
    font-size: 9pt;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.errormessage pre .linenumber {
    color: #CCC;
}

.errormessage pre .errorline {
    color: #F90;
}

.errormessage pre .error {
    color: #F00;
}

.code {
    font-family: "Consolas", "Lucida Console", "Courier New", monospace;
}

.rdfwarning {
    color: red;
}

.rdfwarning .badlink {
    font-family: "Consolas", "Lucida Console", "Courier New", monospace;
    color: #900;
}

.logo2 {
    height: 64px;
}

nav {
    margin: 0;
    padding: 0;
    height: 64px;
    background: url("/static/banner1.desktop.jpg");
    background-size: auto 64px;
    background-repeat: repeat-x;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 64px;
    /*background-color: rgba(255,255,255,0.5);*/
}

#mainmenu {
    min-width: 640px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#mainmenu img:nth-child(2) {
    margin-left: -72px;
    float: left;
}

#mainmenu img:first-child {
    margin-left: 0;
    float: left;
}

#mainmenu li {
    display: block;
    width: 120px;
    height: 64px;
    float: left;
    margin-left: 0px;
    margin-right: 2px;
}

#mainmenu li.user {
    margin-left: 2px;
    margin-right: 0px;
    width: 80px;
    float: right;
}

#mainmenu a {
    display: block;
    height: 46px;
    padding: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-decoration: none;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
    color: #009;
}

#mainmenu a:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#mainmenu li.user.name {
    width: 120px;
    text-align: left;
}

#mainmenu li.user.name a {
    width: 120px;
    background: rgba(255, 255, 255, 0.8);
    line-height: 46px;
}

#mainmenu li.user.name a:hover {
    color: #33F;
}

#mainmenu li.user.name a i {
    padding-right: 0.2em;
}

/* padding (and margin) shorthand
    a b c d = top, right, bottom, left
    a b c = top, right + left, bottom
    a b = top + bottom, right + left
*/
.account.airtable {
    padding: 0;
    margin: 1em;
    border: 1px solid black;
    /*font-family: Verdana, sans-serif;*/
}

.account.airtable > div:first-child {
    color: white;
    background-color: black;
    padding: 0.2em 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.account.airtable div:first-child > a {
    float: right;
    text-decoration: none;
    color: #FFF;
}

.account.airtable div:first-child > a:hover {
    color: #CCF;
}

.account.airtable > div:nth-child(2) {
    margin: 0;
    padding: 0;
}

.account.airtable p.new a {
    display: block;
    margin: 8px;
    height: 64px;
    width: 64px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    border: 1px solid black;
}

.account.airtable .dbase {
    padding: 0;
    margin: 8px;
    border: 1px solid #CCC;
}

.account.airtable .dbase .api {
    font-family: "Consolas", "Lucida Console", "Courier New", monospace;
    font-size: 8pt;
}

.account.airtable .dbase > div:first-child {
    color: black;
    background-color: #CCC;
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.account.airtable .dbase > div:nth-child(2) {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.2em;
}

.account.airtable .dbase > div:nth-child(2)::after {
    /* known as the "clearfix", to force parent to resize with its floats */
    content: "";
    display: table;
    clear: both;
}

.account.airtable .scraper {
    float: left;
    display: block;
    margin: 8px;
    padding: 0.2em;
    width: 128px;
    background-color: #EEE;
    color: black;
    text-decoration: none;
    border: 1px solid #999;
    font-family: Verdana, sans-serif;
}

.account.airtable a.scraper:hover {
    color: #FFF;
    background-color: #000;
}

.account.airtable .scraper .tables {
    font-size: 9pt;
}

.account.airtable .scraper.add {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* ====== TEXT ENTRY FORMS ====== */
.fields {
    width: 24em;
    margin: auto;
    content: "";
    display: table;
    clear: both; /* "clearfix */
    border: 1px solid black;
}

.fields label {
    width: 8em;
    text-align: right;
    float: left;
    margin: 0.1em 0;
}

.fields > label:first-of-type { /* Don't know why? But it works. */
    margin: 0.6em 0;
}

.fields label::after {
    content: ":\00A0" /* non-breaking space \xA0 */
}

.fields input {
    display: block;
    margin: 0.5em 0;
    width: 12em;
}

.fields input[type=file] {
    width: 100%;
}

.fields button {
    float: right;
    margin: 0.2em 0.5em;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: 700;
    padding: 0.3em 0.8em;
    border-radius: 0.4em;
    border: 1px solid hsl(220, 100%, 35%);
    background: hsl(220, 50%, 95%);
    color: hsl(220, 100%, 20%);
}

button:hover {
    color: hsl(220, 50%, 95%);
    background: hsl(220, 100%, 35%);
}

button:focus {
    outline: none;
    border: 1px solid black;
    text-decoration: underline;
    border-radius: 0.4em;
    background: hsl(220, 50%, 85%);
}

/* ------ LARGE TEXTAREA ENTRY ------ */
.bigfields textarea {
    width: 100%;
    height: 8em;
}

/* ------ ALLOW LOCKED "PASSWORD" FIELDS ------ */
.fields .lockfield {
    line-height: 2.5em;
}

.fields .lockfield .unlock input {
    width: 10em;
    display: inline-block;
}

.fields .lockfield a.lockbutton {
    padding-right: 0.5em;
    color: hsl(220, 0%, 0%);
    float: right;
}

.fields .lockfield a.lockbutton:hover {
    color: hsl(220, 100%, 50%);
}

.fields .lockfield a.lockbutton:focus {
    color: hsl(220, 50%, 50%);
}

.unlock span {
    color: #999;
    padding-right: 0.5em;
    float: right;
}


/* ====== TABBED CONTENT DISPLAY ====== */
/* https://levelup.gitconnected.com/tabbed-interfaces-without-javascript-661bab1eaec8 */
.tabset > input {
    display: block; /* "enable" hidden elements in IE/edge */
    position: absolute; /* then hide them off-screen */
    left: -100%;
}

.tabset > ul {
    position: relative;
    z-index: 999;
    list-style: none;
    display: flex;
    margin-bottom: -1px;
}

.tabset > ul label, .tabset > div {
    border: 1px solid hsl(220, 100%, 60%);
}

.tabset > ul label {
    display: inline-block;
    padding: 0.25em 1em;
    background: hsl(220, 100%, 90%);
    border-right-width: 0;
}

.tabset > ul li:first-child label {
    border-radius: 0.5em 0 0 0;
}

.tabset > ul li:last-child label {
    border-right-width: 1px;
    border-radius: 0 0.5em 0 0;
}

.tabset > div {
    position: relative;
    background: hsl(220, 100%, 98%);
    border-radius: 0 0.5em 0.5em 0.5em;
}

.tabset > input:nth-child(1):focus ~ ul li:nth-child(1) label,
.tabset > input:nth-child(2):focus ~ ul li:nth-child(2) label,
.tabset > input:nth-child(3):focus ~ ul li:nth-child(3) label,
.tabset > input:nth-child(4):focus ~ ul li:nth-child(4) label,
.tabset > input:nth-child(5):focus ~ ul li:nth-child(5) label,
.tabset > input:nth-child(6):focus ~ ul li:nth-child(6) label,
.tabset > input:nth-child(7):focus ~ ul li:nth-child(7) label,
.tabset > input:nth-child(8):focus ~ ul li:nth-child(8) label {
    text-decoration: underline;
}

.tabset > input:nth-child(1):checked ~ ul li:nth-child(1) label,
.tabset > input:nth-child(2):checked ~ ul li:nth-child(2) label,
.tabset > input:nth-child(3):checked ~ ul li:nth-child(3) label,
.tabset > input:nth-child(4):checked ~ ul li:nth-child(4) label,
.tabset > input:nth-child(5):checked ~ ul li:nth-child(5) label,
.tabset > input:nth-child(6):checked ~ ul li:nth-child(6) label,
.tabset > input:nth-child(7):checked ~ ul li:nth-child(7) label,
.tabset > input:nth-child(8):checked ~ ul li:nth-child(8) label {
    background: hsl(220, 100%, 98%);
    border-bottom-color: hsl(220, 100%, 98%);
}

.tabset > div > section, .tabset > div > section h2 {
    position: absolute;
    top: -999em;
    left: -999em;
}

.tabset > div > section {
    padding: 1em 1em 0;
}

.tabset > input:nth-child(1):checked ~ div > section:nth-child(1),
.tabset > input:nth-child(2):checked ~ div > section:nth-child(2),
.tabset > input:nth-child(3):checked ~ div > section:nth-child(3),
.tabset > input:nth-child(4):checked ~ div > section:nth-child(4),
.tabset > input:nth-child(5):checked ~ div > section:nth-child(5),
.tabset > input:nth-child(6):checked ~ div > section:nth-child(6),
.tabset > input:nth-child(7):checked ~ div > section:nth-child(7),
.tabset > input:nth-child(8):checked ~ div > section:nth-child(8) {
    position: static;
}

.tabset > ul label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabset > div > section textarea {
    width: 100%;
    font-size: 7pt;
}

.tabset > div > section .mermaid {
    font-family: monospace;
    font-size: 7pt;
    height: 300px;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}
